
@media (max-width: 1350px) {
    .header {
        .medium-container {
            justify-content: space-around;
        }
    }

    .intro {

        .large-container {
            gap: 20px;
        }

        .flyer-container__flyer {
            width: 246px;
            height: 295px;
        }
    }

    .discord-link {
        .medium-container {
            .graphic-content {
                &__flyer {
                    height: 520px;
                    width: 436px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .header, .section, .footer {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .large-container {
        max-width: 1180px;
    }
    
    .medium-container {
        max-width: 1100px;
    }
    
    .large-container {
        max-width: 1350px;
    }

    .artists {
        .artists-content {
            grid-column-gap: 40px;
            grid-row-gap: 40px;
    
            &__card {
                &__photo {
                    width: 218px;
                    height: 218px;
                }
            }
        }
    
    }

    .team {
        .medium-container {
            .team__card {
                &__photo {
                    width: 280px;
                    height: 280px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    body {
        background-color: darkblue;
    }
}

@media (max-width: 768px) {
    body {
        background-color: darkolivegreen;
    }
}

@media (max-width: 600px) {
    body {
        background-color: darkred;
    }
}

@media (max-width: 480px) {
    body {
        background-color: darkslategrey;
    }
}

@media (max-width: 375px) {
    body {
        background-color: darkgreen;
    }
}

@media (max-width: 320px) {
    body {
        background-color: darkgoldenrod;
    }
}