.header, .section, .footer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid darkgoldenrod;
}

.small-container,
.medium-container,
.large-container,
.conteiner-zero {
    margin: 0 auto;
    width: 100%;
}

.small-container {
    max-width: 720px;
}

.medium-container {
    max-width: 1160px;
}

.large-container {
    max-width: 1350px;
}

.text-header {
    font-family: 'Audiowide', cursive;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

.text-header-grey {
    font-family: 'Audiowide', cursive;
    font-style: normal;
    text-transform: uppercase;
    color: #A8A8A8;
}

.ticker-content {
    display: block;
    margin-bottom: 126px;
    white-space: nowrap;
    overflow: hidden;
    &__title {
        display: inline-block;
        padding-left: 100%;
        -webkit-animation: ticker-animation 20s infinite linear;
        -moz-animation: ticker-animation 20s infinite linear;
        animation: ticker-animation 20s infinite linear;
        font-size: 8rem;
        line-height: 8.8rem;
        word-spacing: 390px;
    }
}




