@mixin flex-center-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dm-mono-font {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    color: beige;
}

@-webkit-keyframes ticker-animation {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}
@-moz-keyframes ticker-animation {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes ticker-animation {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

$custon-green: #8DFD1B;

body {
    background: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.contacts {
    @include flex-center();
    gap: 12px;

    &__social-media {
        padding: 8px;
        background: white;
        border: 1px solid transparent;
    }
}

.header, .section, .footer {
    max-width: 1440px;
}

.header {
    padding: 50px 0 10px;

    .medium-container {
        @include flex-center-space-between();

        .navigation {
            @include flex-center();
            gap: 40px;

            &__logo-wrapper {
                &__logo {
                    transition: 1s;   
                }
                &__logo:hover {
                    opacity: 0.7;
                }
                &__logo:not(hover) {
                    opacity: 1;
                }
            }

            &__link {
                @include dm-mono-font();
                font-size: 1.6rem;
                line-height: 1.6rem;
            }
        }
    }
}

.intro {
    padding: 60px 0;
    @include flex-center-space-between();

    .description {
        display: inline-block;
        margin-right: 70px;
        padding: 20px 0 30px;
        max-width: 425px;

        &__title {
            margin-bottom: 42px;
            font-size: 5rem;
            line-height: 6rem;
        }

        &__subtitle {
            margin-bottom: 114px;
            max-width: 340px;
            font-size: 1.6rem;
            line-height: 2.6rem;
            
        }

        &__jump-documentation {
            padding: 22px 40px;
            border: 2px solid transparent;
            background: $custon-green;
            @include dm-mono-font();
            font-size: 1.6rem;
            line-height: 1.6rem;
            color: initial;
            transition: 1s;
        }

        &__jump-documentation:hover {
            border: 2px solid $custon-green;
            background: transparent;
            color: $custon-green;
        }
    }
    
    .flyer-container {
        @include flex-center-space-between();
        display: inline-flex;
        gap: 10px;
        
        &__flyer {
            opacity: 0.7;
        }

        &__flyer:hover {
            opacity: 1;
            transform: scale(1.5);
            transition: 1s;
        }
        &__flyer:not(hover) {
            opacity: 0.7;
            transform: scale(1);
            transition: 1s;
    }
    }

}

.wave-nft {
    padding: 60px 40px;

    .medium-container {
        margin: 0;
        @include flex-center-space-between();
        flex-direction: row;
        gap: 162px;

        .wave-content {
            min-width: 400px;

            &__title {
                margin-bottom: 40px;

                &__grey-text {
                    color: rgba(168, 168, 168, 1);
                    ;
                }
            }
        }

        .explanation {
            &__definition {
                margin-bottom: 30px;
                padding-left: 22px;
                display: inline-block;
                border-left: 2px solid $custon-green;
                @include dm-mono-font();
                font-size: 2rem;
                line-height: 3rem;
                color: $custon-green;
            }
            &__content {
                margin-bottom: 36px;

                &__subtitle {
                    margin-bottom: 18px;
                    max-width: 550px;
                    font-size: 1.6rem;
                    line-height: 2.6rem;
                }

                &__subtitle:last-child {
                    margin-bottom: 0;
                }

                .get-nft {
                    padding: 14px 32px;
                    background: transparent;
                    border: 1px solid $custon-green;
                    @include dm-mono-font();
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                }
            }
        }
    }
}

.artists {
    padding: 60px 120px;

    .ticker-content {
        display: block;
        margin-bottom: 126px;
        white-space: nowrap;
        overflow: hidden;
        &__title {
            display: inline-block;
            padding-left: 100%;
            -webkit-animation: ticker-animation 20s infinite linear;
            -moz-animation: ticker-animation 20s infinite linear;
            animation: ticker-animation 20s infinite linear;
            font-size: 8rem;
            line-height: 8.8rem;
            word-spacing: 390px;
        }
    }

    .artists-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 60px;

        &__card {
            &__name {
                margin-top: 20px;
                text-align: center;
                @include dm-mono-font();
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
        }
    }

}

.story {
    .story__title {
        
        margin-bottom: 60px;
        text-align: center;
        font-size: 3.8rem;
        line-height: 4.4rem;

        &__grey-text {
            color: #A8A8A8;
        }
    }

    .about-company {
        @include flex-center();
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;

        &__tab-wrapper {
            display: flex;
            min-width: 24%;
            flex-direction: column;
            gap: 2px;

            &__tab {
                padding: 28px 0 28px 26px;
                @include dm-mono-font();
                font-size: 1.6rem;
                line-height: 1.6rem;
                border: 1px solid transparent;
                cursor: pointer;
            }
            &__tab:hover {
                background: #222222;
                color: $custon-green;
            }

        }

        &__description {
            padding: 60px;
            max-width: 75%;
            display: inline-flex;
            gap: 40px;
            background: #222222;

            &__photo {
                max-height: 252px;
            }
            
            
            &__explanation {
                &__definition {
                    display: inline-block;
                    padding-left: 22px;
                    margin-bottom: 28px;
                    border-left: 2px solid $custon-green;
                    @include dm-mono-font();
                    font-size: 2rem;
                    line-height: 3rem;
                    color: $custon-green;
                }

                &__content {
                    &__subtitle {
                        margin-bottom: 18px;
                        font-size: 1.6rem;
                        line-height: 2.6rem;
                    }
                }
            }
        }
    }
}


