@mixin flex-center-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dm-mono-font {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    color: beige;
}

@-webkit-keyframes ticker-animation {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}
@-moz-keyframes ticker-animation {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes ticker-animation {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

$custon-green: #8DFD1B;

body {
    background: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.contacts {
    @include flex-center();
    gap: 12px;

    &__social-media {
        padding: 8px;
        background: white;
        border: 1px solid transparent;
    }
}

.header, .section, .footer {
    max-width: 1440px;
}

.header {
    padding: 50px 0 10px;

    .medium-container {
        @include flex-center-space-between();

        .navigation {
            @include flex-center();
            gap: 40px;

            &__logo-wrapper {
                &__logo {
                    transition: 1s;   
                }
                &__logo:hover {
                    opacity: 0.7;
                }
                &__logo:not(hover) {
                    opacity: 1;
                }
            }

            &__link {
                @include dm-mono-font();
                font-size: 1.6rem;
                line-height: 1.6rem;
            }
        }
    }
}

.intro {
    padding: 60px 0;
    @include flex-center-space-between();

    .description {
        display: inline-block;
        margin-right: 70px;
        padding: 20px 0 30px;
        max-width: 425px;

        &__title {
            margin-bottom: 42px;
            font-size: 5rem;
            line-height: 6rem;
        }

        &__subtitle {
            margin-bottom: 114px;
            max-width: 340px;
            font-size: 1.6rem;
            line-height: 2.6rem;
            
        }

        &__jump-documentation {
            padding: 22px 40px;
            border: 2px solid transparent;
            background: $custon-green;
            @include dm-mono-font();
            font-size: 1.6rem;
            line-height: 1.6rem;
            color: initial;
            transition: 1s;
        }

        &__jump-documentation:hover {
            border: 2px solid $custon-green;
            background: transparent;
            color: $custon-green;
        }
    }
    
    .flyer-container {
        @include flex-center-space-between();
        display: inline-flex;
        gap: 10px;
        
        &__flyer {
            opacity: 0.7;
        }

        &__flyer:hover {
            opacity: 1;
            transform: scale(1.5);
            transition: 1s;
        }
        &__flyer:not(hover) {
            opacity: 0.7;
            transform: scale(1);
            transition: 1s;
    }
    }

}


